tage.json
[
    {
        "id": "d627912c83469e2b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6dc26884e4c99081",
        "type": "microphone",
        "z": "d627912c83469e2b",
        "name": "",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "aa5405b05618cfe1",
                "ddea00f6bedf6cb1"
            ]
        ]
    },
    {
        "id": "ddea00f6bedf6cb1",
        "type": "watson-speech-to-text",
        "z": "d627912c83469e2b",
        "name": "Watson STT",
        "alternatives": 1,
        "speakerlabels": false,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "KQFsQNrWnkoNf26iMIsDEsdqdopg_J1hqXti9X3BiRLg",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/b090de80-598c-4cd4-81b7-02ad5db1994f",
        "x": 390,
        "y": 420,
        "wires": [
            [
                "8440c435bd9904cb",
                "0f94b299bb6395b0"
            ]
        ]
    },
    {
        "id": "8440c435bd9904cb",
        "type": "debug",
        "z": "d627912c83469e2b",
        "name": "Saída STT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 340,
        "wires": []
    },
    {
        "id": "aa5405b05618cfe1",
        "type": "debug",
        "z": "d627912c83469e2b",
        "name": "Capturar o mic",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 300,
        "wires": []
    },
    {
        "id": "0f94b299bb6395b0",
        "type": "function",
        "z": "d627912c83469e2b",
        "name": "Proc saída STT",
        "func": "msg.params = {\n    \"session_id\" : msg.payload.session_id !== 'undefined' ? msg.payload.session_id : \"\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 440,
        "wires": [
            [
                "12c5b980a65f29ea"
            ]
        ]
    },
    {
        "id": "325ed534a646880f",
        "type": "http in",
        "z": "d627912c83469e2b",
        "name": "Entrada",
        "url": "/conversa",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "8153c96a0816645c",
                "545aa26961afe39e"
            ]
        ]
    },
    {
        "id": "8153c96a0816645c",
        "type": "debug",
        "z": "d627912c83469e2b",
        "name": "Print entrada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 520,
        "wires": []
    },
    {
        "id": "545aa26961afe39e",
        "type": "function",
        "z": "d627912c83469e2b",
        "name": "Proc entrada WA",
        "func": "msg.params = {\n    \"session_id\" : msg.payload.session_id !== 'undefined' ? msg.payload.session_id : \"\"\n};\nmsg.payload = msg.payload.mensagem;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 600,
        "wires": [
            [
                "12c5b980a65f29ea"
            ]
        ]
    },
    {
        "id": "12c5b980a65f29ea",
        "type": "watson-assistant-v2",
        "z": "d627912c83469e2b",
        "name": "Tage WA",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/2ac552ee-0c07-4985-bc8c-1c1886311059",
        "assistant_id": "348460e7-b306-444c-b6b4-70e7ac778ce2",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 400,
        "y": 760,
        "wires": [
            [
                "5efa2659dc645923",
                "a518a3b9885bfab3"
            ]
        ]
    },
    {
        "id": "5efa2659dc645923",
        "type": "function",
        "z": "d627912c83469e2b",
        "name": "ProcSaída",
        "func": "msg.payload = msg.payload.output.generic[0].text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 740,
        "wires": [
            [
                "e460a15c833652d9",
                "79c7bc095d0cdaf3"
            ]
        ]
    },
    {
        "id": "a518a3b9885bfab3",
        "type": "debug",
        "z": "d627912c83469e2b",
        "name": "Print saída WA",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 880,
        "wires": []
    },
    {
        "id": "e460a15c833652d9",
        "type": "http response",
        "z": "d627912c83469e2b",
        "name": "Saída",
        "statusCode": "",
        "headers": {
            "Access-Control-Allow-Origin": "*"
        },
        "x": 930,
        "y": 740,
        "wires": []
    },
    {
        "id": "79c7bc095d0cdaf3",
        "type": "debug",
        "z": "d627912c83469e2b",
        "name": "Saída Final",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 620,
        "wires": []
    }
]